QuickLaunchBarStyle.Portrait {
    background-image: "meegotouch-navigationbar-portrait-background" 0px 0px 0px 0px;
}

QuickLaunchBarStyle.Landscape {
    background-image: "meegotouch-navigationbar-landscape-background" 0px 0px 0px 0px;
}

