Source: darko
Section: base
Priority: standard
Maintainer: Jakub Pavelek <jpavelek@live.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 4.0.0
                                                                                     
Package: darko-lite
Section: user/graphics
Architecture: all
Depends: ${shlibs:Depends}
Description: Darko lite is reduced version of the Darko theme
 This is work in progress ... 
